@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@font-face {
  src: url('/fonts/Arlita.ttf');
  font-family: 'Arlita'
}

@font-face {
  font-family: 'Luam-Regular';
  src: url('/fonts/Luam-Regular.ttf');
}

@font-face {
  font-family: 'Luam-Light';
  src: url('/fonts/Luam-Light.otf');
}

@font-face {
  font-family: 'gotham-bold';
  src: url('/fonts/gotham-bold.otf');
}

html,
body {
  // overflow-x: hidden;
  font-family: 'Montserrat', 'Roboto', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box {
  cursor: pointer;

  transition: 0.325s;
}

.box:hover,.box:focus, .scalling {
  transform: scale(1.1);
}

.tooltip {
  position: relative;
  display: inline-block; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;

  box-sizing: border-box;
  
  background-color: 'transparent';
  color: #fff;
  
  text-align: center;
  padding: 0 5px;
  
  border-radius: 6px;
  width: 175px;
  text-align: left;
}

.tooltiptext__mobile {
  width: auto !important;
  height: auto !important;

  position: fixed;

  z-index: 1 !important;

  padding-bottom: 20px !important;
  padding-top: 20px !important;
  padding-right: 30px !important;
  padding-left: 0 !important;

  border-radius: 25px !important;
}

.Salvador {
  @media only screen and (max-width: 1000px) {
    top: -2em !important;
    left: -280px !important;

    background-color: #2f53a1;
    color: #FFF;

    box-shadow: 0 3px 12px 6px rgba(0,0,0,0.3);

    font-size: 0.6em !important; 
  }
} 

.Bahia {
  @media only screen and (max-width: 1000px) {
    top: 5em !important;
    left: -155px !important;

    background-color: #DC2626;
    color: #FFF;

    box-shadow: 0 3px 12px 6px rgba(0,0,0,0.3);

    font-size: .8em !important; 
  }
}

.Ser {
  @media only screen and (max-width: 1000px) {
    top: -6.5em !important;
    left: 40px !important;

    background-color: #3fbb5a;
    color: #FFF;

    box-shadow: 0 3px 12px 6px rgba(0,0,0,0.3);

    font-size: 1em !important; 
  }
}

.tooltip__title {
  font-size: 6em;
  font-weight: bold;
  
  margin-top: 20px;
  line-height: .5px;

  text-transform: lowercase;
  
  color: #fff;
}


.tooltip_excerpt {
  margin-top: 50px;
  margin-left: 80px;

  text-transform: uppercase;

  width: 150px;

  color: #FFF !important;
  
  font-size: 1em !important;
}

.Estar {
  @media only screen and (max-width: 1000px) {
    top: -15em !important;
    left: -75px !important;

    background-color: #d5b035;

    height: 160px;

    color: #FFF;
    box-shadow: 0 3px 12px 6px rgba(0,0,0,0.3);

    font-size: .9em !important;
    text-transform: uppercase;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.box1, .box2, .box3, .box4 {
  display: -webkit-flex;
  
  cursor: pointer !important;
  position: relative;
}

//SER VERDE
.box1 {
    top: 12em;
    right: -0.8em;
    transition: 0.325s;

    height: 45px !important;
    width: 45px !important;

    @media only screen and (max-width: 1200px) {
      top: 8em;
      right: .5em;

      height: 40px !important;
      width: 40px !important;
    }
    @media only screen and (max-width: 1000px) {
      top: 4.8em;
      right: 1em;

      height: 35px !important;
      width: 35px !important;
  
    }
    @media only screen and (max-width: 800px) {
      top: 4.8em;
      right: 0.6em;
    }
  }

  //salvador azul
.box2 {
  left: 11.5em;

  height: 35px !important;
  width: 35px !important;
  
  @media only screen and (max-width: 1200px) {
    left: 8em;

    height: 30px !important;
    width: 30px !important;
  }

  @media only screen and (max-width: 1000px) {
    left: 5.2em;

    height: 25px !important;
    width: 25px !important;
  }

  @media only screen and (max-width: 800px) {
    left: 5.2em;

    height: 25px !important;
    width: 25px !important;
  }
}

//vermelho
.box3 {
  top: 5em;
  right: -16.8em;

  height: 70px !important;
  width: 70px !important;

  @media only screen and (max-width: 1200px) {
    top: 2em;
    right: -8.7em;

    height: 60px !important;
    width: 60px !important;
  }

  @media only screen and (max-width: 1000px) {
    top: -1em;
    right: -5.2em;

    height: 50px !important;
    width: 50px !important;
  }

  @media only screen and (max-width: 800px) {
    right: -5.2em;

    height: 45px !important;
    width: 45px !important;
  }
}

.effect {
  &:hover {
    transform: scale(1.2);
  }
}

.box4 {
  top: 14em;
  height: 55px !important;
  width: 55px !important;

  @media only screen and (max-width: 1200px) {
    top: 8em;
    right: 0.4em;

    height: 50px !important;
    width: 50px !important;
  }
  @media only screen and (max-width: 1000px) {
    top: 4.5em;
    right: 1em;

    height: 45px !important;
    width: 45px !important;
  }
  @media only screen and (max-width: 800px) {
    top: 6em;
    right: 0.3em;

    height: 40px !important;
    width: 40px !important;
  }
}

.modal-content {
  width: 500px;
  background-color: #FFF;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0);
}

.content:hover .overlay {
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 25px;
  font-weight: bold;

  position: absolute;
  
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.modal {
  top: -20em;
  width: 60%;
  height: 20%;

  transition: 0.325s;

  @media only screen and (max-width: 1200px) {
    top: 15%;

    width: 1000px;
    height: 1000px;

    left: 0;
    right: 0;
  }
  @media only screen and (max-width: 1000px) {
    width: 800px;
    height: 800px;

    left: 0;
    right: 0;
  }
  @media only screen and (max-width: 800px) {
    width: 650px;
    height: 650px;

    left: 0;
    right: 0;
  }
  @media only screen and (max-width: 700px) {
    width: 100%;
    height: 100%;

    padding: 1em;

    left: 0;
    right: 0;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.rendering {
  animation-duration: .75s;
  animation-name: slidein;
}

.meet {
  @media only screen and (min-width: 1200px) {
    margin-bottom: -12% !important;
  }
}

.nav__menus {
  transition: 0.325s;
  &:hover {
    opacity: 0.8;
  }
}

.progress-bar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  transform-origin: 0%;
}

.tag {
  @media only screen and (max-width: 700px) {
    right: -40%;
  }  
  @media only screen and (max-width: 600px) {
    right: -38.5%;
  }  
  @media only screen and (max-width: 500px) {
    right: -36%;
  }  
  @media only screen and (max-width: 400px) {
    right: -33%;
  }  
}

.tag__post {
  @media only screen and (max-width: 500px) {
    right: -38%;
  }  
  @media only screen and (max-width: 400px) {
    right: -36%;
  }  
}

.tag__home {
  @media only screen and (max-width: 500px) {
    right: -39%;
  }  
  @media only screen and (max-width: 400px) {
    right: -36%;
  }  
}

.img {
  @media only screen and (max-width: 1000px) {
    border-radius: 45px;
  }
}

.logo__header {
  max-width: 600px;
  min-width: 360px;

  @media only screen and (max-width: 400px) {
    
    min-width: 300px;
  }
}

