@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@font-face {
  src: url('/fonts/Arlita.ttf');
  font-family: 'Arlita'
}

@font-face {
  font-family: 'Luam-Regular';
  src: url('/fonts/Luam-Regular.ttf');
}

@font-face {
  font-family: 'Luam-Light';
  src: url('/fonts/Luam-Light.otf');
}

@font-face {
  font-family: 'gotham-bold';
  src: url('/fonts/gotham-bold.otf');
}

html,
body {
  font-family: 'Montserrat', 'Roboto', Helvetica, sans-serif;;
  padding: 0;
  margin: 0;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box {
  transition: 0.325s;
}
.box:hover {
  transform: scale(1.1);
}

.tooltip {
  position: relative;
  display: inline-block; /* If you want dots under the hoverable text */
}

.bgsection {
  _::-webkit-full-page-media {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-attachment: inherit;
    background-size: contain;
    background-position: center;
 }
}

/* Tooltip text */
.tooltip .tooltiptext {
  z-index: 999999999 !important;
  visibility: hidden;

  box-sizing: border-box;
  
  background-color: 'transparent';
  color: #fff;
  
  text-align: center;
  padding: 0 5px;
  
  border-radius: 6px;
  width: 175px;
  text-align: left;

  position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.box1, .box2, .box3, .box4 {
  display: -webkit-flex;
  position: relative;
}

.box1 {
    top: 13em;
    right: -0.8em;
    transition: 0.325s;

    height: 45px !important;
    width: 45px !important;

    @media only screen and (max-width: 1200px) {
      top: 8em;
      right: 1.2em;

      height: 40px !important;
      width: 40px !important;
    }
    @media only screen and (max-width: 1000px) {
      top: 4.8em;
      right: 1.3em;

      height: 35px !important;
      width: 35px !important;
  
    }
    @media only screen and (max-width: 800px) {
      top: 4.8em;
      right: 0.6em;
    }
  }

.box2 {
  left: 12.5em;

  height: 35px !important;
  width: 35px !important;
  
  @media only screen and (max-width: 1200px) {
    left: 9em;

    height: 30px !important;
    width: 30px !important;
  }

  @media only screen and (max-width: 1000px) {
    left: 6.5em;

    height: 25px !important;
    width: 25px !important;
  }

  @media only screen and (max-width: 800px) {
    left: 5.2em;

    height: 25px !important;
    width: 25px !important;
  }
}

.box3 {
  top: 5em;
  right: -17.8em;

  height: 70px !important;
  width: 70px !important;

  @media only screen and (max-width: 1200px) {
    top: 2em;
    right: -10.7em;

    height: 60px !important;
    width: 60px !important;
  }

  @media only screen and (max-width: 1000px) {
    top: 1.1em;
    right: -7.2em;

    height: 50px !important;
    width: 50px !important;
  }

  @media only screen and (max-width: 800px) {
    right: -6.2em;

    height: 45px !important;
    width: 45px !important;
  }
}

.box4 {
  top: 15em;
  height: 55px !important;
  width: 55px !important;

  @media only screen and (max-width: 1200px) {
    top: 9em;
    right: 0.4em;

    height: 50px !important;
    width: 50px !important;
  }
  @media only screen and (max-width: 1000px) {
    top: 5.4em;
    right: 1em;

    height: 45px !important;
    width: 45px !important;
  }
  @media only screen and (max-width: 800px) {
    top: 5em;
    right: 0.3em;

    height: 40px !important;
    width: 40px !important;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0);
}

.content:hover .overlay {
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 25px;
  font-weight: bold;

  position: absolute;
  
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}